<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viandas Saludables</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-h">
        <img src="../images/logo.jpg" height="100px">
        <h1 style="font-family: 'Lobster', cursive;">Viandas Saludables</h1>
        </div>
    </header>

    <!--Menú Navegable-->

    <nav class="nav">
        <ul><a href="index.html">Inicio</a></ul>
        <ul><a href="planes.html">Planes</a></ul>
        <ul><a href="servicios.html">Servicios</a></ul>
        <ul><a href="nosotros.html">Nosotros</a></ul>
        <ul><a href="contacto.html">Contacto</a></ul>
    </nav>

     <!--Banner y botón para hacer pedido-->

    <div id="banner-pedido">
        <img src="../images/platos.jpg" id="img-banner">
        <button id="button-pedido">Hacer Pedido</button>
    </div>

    <!--Seccion de Nosotros e historia-->

    <section>
        <h2 id="h-us">Nuestra Historia</h2>
        <div class="section-us">
            <img src="../images/palta.jpg">
            <p class="p-us">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum, dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum, dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum, dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            </p>
        </div>
    </section>

    <!--Seccion de Servicios-->

    <section>
        <h2 id="h-serv">Servicios</h2>
        <div class="section-serv">            
            <p class="p-us">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum, dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum, dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            </p>
            <img src="../images/palta.jpg">
        </div>
    </section>

    <!--Seccion de Planes-->

    <section>
        <h2 id="planes-h">Planes disponibles</h2>
        <div id="planes-img">
            <div class="img-plan">
                <h3>Fit</h3>
                <img src="../images/palta.jpg" width="300px" margin="10px">
            </div>
            <div class="img-plan">
                <h3>Keto</h3>
                <img src="../images/palta.jpg" width="300px">
            </div>
            <div class="img-plan">
                <h3>Bajas calorías</h3>
                <img src="../images/palta.jpg" width="300px">
            </div>
            <div class="img-plan">
                <h3>Gourmet</h3>
                <img src="../images/palta.jpg" width="300px">
            </div>
        </div>

    </section>
    <div>
        <h2 class="h2-style" style="text-align: center; font-size: 30px;position: relative; right: 5vh">Pancakes Proteicos</h2>
        <video id="video-prueba" src="../images/delirose.mp4" width="640" height="480" controls autoplay muted></video>
    </div>
    <section>
        <h2  class="h2-style">Contacto</h2>
        <div>
        <form action="#" id="form-contact">
                <label>Nombre y apellido:</label>
                <input type="text" name="nombre">
                <label>Email</label>
                <input type="email" name="email">
                <label>Teléfono</label>
                <input type="tel" name="telefono">
                <label>Selecciona tu menú:</label><br>
                    <div>Plan Fit</div>
                <input type="checkbox" name="plan" value="FIT">
                    <div>Plan Keto</div>
                <input type="checkbox" name="plan" value="KETO">
                    <div>Plan Bajas calorías</div>
                <input type="checkbox" name="plan" value="BAJAS CALORÍAS">
                    <div>Plan Gourmet</div>
                <input type="radio" name="plan" value="GOURMET">
                <div>
                    <select name="tamaño">
                        <option value="chica">Chica</option>
                        <option value="mediana">Mediana</option>
                        <option value="grande">Grande</option>
                    </select>
                </div>
                <label>Mensaje</label>
                <textarea>Ingresa tu mensaje</textarea>
                    <div>
                    <button type="reset">Limpiar</button>   
                    <button type="submit">Enviar</button>
                    </div>
        </form>
        </div>
    </section>
        <div>
            <table>
                <tr>
                    <th>Articulo</th>
                    <th>Descripcion</th>
                </tr>
                <tr>
                    <td>Fit Plan</td>
                    <td>Desarrollado para atletas</td>              
                </tr>
                <tr>
                    <td>Keto Plan</td>
                    <td>Elaborado en base a la dieto KETO</td>
                </tr>
                <tr>
                    <td>Bajas calorías</td>
                    <td>Indicado para el descenso de peso</td>              
                </tr>
                <tr>
                    <td>Gourmet</td>
                    <td>Menu para disfrutar de unos platos deliciosos!</td>              
                </tr>
                <tr>
                </tr>
            </table>
        </div>

    <footer>
    <h4>Seguinos en las redes!</h4>
    <h3>Deli Rose Viandas</h3>
    </footer>
</body>
</html>