<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viandas Saludables</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-h">
        <img src="../images/logo.jpg" height="100px">
        <h1>Viandas Saludables</h1>
        </div>
    </header>
    <nav class="nav">
        <ul><a href="index.html">Inicio</a></ul>
        <ul><a href="planes.html">Planes</a></ul>
        <ul><a href="servicios.html">Servicios</a></ul>
        <ul><a href="nosotros.html">Nosotros</a></ul>
        <ul><a href="contacto.html">Contacto</a></ul>
    </nav>
    <div>
        <img src="../images/platos.jpg">
        <button>Hacer Pedido</button>
    </div>

    <section>
        <h2>Nosotros</h2>
        <img src="../images/palta.jpg">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum, dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
        </p>
    </section>
    <section>
        <h2>Servicios</h2>
        <img src="../images/palta.jpg">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum, dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos consectetur, tenetur at delectus quia maiores ipsum,dolorem, praesentium modi ducimus ex iste repellendus error sequi magni natus numquam quibusdam.
            </p>
    </section>
    <section>
        <h2>Planes disponibles</h2>
    </section>
    <section>
        <h2>Contacto</h2>
        <form>
            <label>Nombre y apellido:</label>
            <input type="text">
            <label>Email</label>
            <input type="email">
            <label>Teléfono</label>
            <input type="tel">
            <label>Mensaje</label>
            <textarea>Ingresa tu mensaje</textarea>
        </form>
    </section>
    <footer>
    <h4>Seguinos en las redes!</h4>
    </footer>
</body>
</html>